html, body {
   margin : 0;
   padding : 0;
}

ul {
    display : flex;
    flex-direction: row;
    gap : 100px;
    margin-left : 20%;
    list-style-type: none;
    font-size: 30px;
}

.sidebar {
    background-color: orange;
    height : 100vh;
    width : 20%;
    border: 2px solid black;
}

.nav {
    background-color: orange;
    width : 79.9%;
    height : 30%;
    float : right;
}

.topbar {
    background-color: black;
    width : 79.9%;
    height : 40px;
    float : right;
}

.sideNavUl {
    display : flex;
    flex-direction: column;
    gap : 25px;
    margin-left : 20%;
    margin-top : 20px;;
    list-style-type: none;
    font-size: 30px;
}


img {
    width : 79%;
    float : right;
    height : 400px;
    margin: 15px 5px 10px 5px;

}


.image-slider {
    width : 79%;
    float:right;
    display : flex;
    justify-content: center;
    align-items:center;
    margin: 15px 5px 10px 5px;
}


.promotion-images {
    gap : 10px;
    float : Right;
    justify-content: center;
    align-items: center;
    margin-left:5px;
    margin-right:5px;
}

.promotion {
    width : 400px;
    display : inline;
    border-radius: 8px;
    height : 210px;
    margin-left : 15px;
    margin-right: 15px;
}


.slider-Btn {
   font-size: 50px;
}


h1 {
    height : 80px;
    width : 80%;
    margin-left : 18px;
    margin-top:30px;
    align-items : center;
    padding:5px;
}



#second {
    display: block;
    text-align: center;
}


input {
    background-color:white;
    height : 40px;
    margin:1px;
    padding-left : 10px;
    font-size:20px;
    float : right;
}


.search-bar {
    position : relative;
}



.search-bar i {
    position : absolute;
    padding : 15px;
    right :5px;
    color : gray; 
}
