body { 
    margin : 0px;
    padding : 0px;
    overflow: auto;
}


h1 {
    color : white;
    text-align: center;
    padding : 20px;
}


.left {
    width : 60%;
    height: 100vh;
    background-color:black;
    float : left;
    overflow: hidden;
}


.app {
    width:40%;
    height:100vh;
    float : right;
    background-color:orange;
    display:flex;
    justify-content:center;
    align-items:center;
}


.login {
    background-color:white;
    display : flex;
    flex-direction: column;
    width : 270px;
    height : 370px;
    gap: 30px;
    padding : 80px 20px 50px 30px;
}

input {
    height : 40px;
    width : 90%;
    background-color: lightgray;
    border-radius: 30px;
    border : none;
    padding-left:15px;
    font-size: larger;
}



label {
    font-weight: bold;
    font-size:25px; 
}


.button { 
    height : 100px;
    width : 100px;
    margin-left: 70px;
}

img {
    padding: 50px;
}

h5 {
    text-align: center;
    font-size:larger;
}


.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.password-wrapper {
    position : relative;
    display : flex;
    align-items:center;
}


#eye-icon {
    position : absolute;
    right: 20px;    
    top: 50%;     
    transform: translateY(-50%); 
    color:gray;
}








